@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 58px;
}

.hidden {
    display: none;
}

@import './components/App/App.scss';
@import './components/Form/Form.scss';